<%= render "navbar" %>

<div class="container mt-3">
  <div class="d-flex justify-content-between">
    <div>
      <h1>List all events available</h1>
    </div>
    <div class="my-auto">
      <% if user_signed_in? %>
        <%= link_to "Create events", new_event_path, class: "btn btn-success" %>
      <% end %>
    </div>
  </div>

  <div class="container">
    <% if @events.present? %>
      <div class="row justify-content-center">
        <% @events.each do |event| %>
          <div class="col-lg-4 m-2 d-flex align-items-stretch">
            <div class="card p-2 w-100">
              <h4 class="card-title text-center"><%= event.name %></h4>
              <p class="card-text"><%= event.description %></p>
              <p class="card-text"><%= event.date.strftime("%e %B %Y at %H:%M") %></p>
              <p><%= "Creator: #{@users.find(event.user_id).email}" %></p>
              <% if user_signed_in? %>
                <%= link_to "Details...", event, class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div>
        <h4>No Post</h4>
      </div>
    <% end %>
  </div>
</div>
