<%= render "navbar" %>

<% user_event_info = current_user.booked_event.find(@event.id) rescue nil %>

<div class="container mt-3 p-3">
  <div class="d-flex justify-content-between">
    <div>
      <h1><%= @event.name %></h1>
    </div>
    <div>
      <% if user_event_info.present? %>
        <%= link_to "Show Ticket", show_ticket_path(@event), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <br>
  <table class="table align-middle">
    <tbody>
      <tr>
        <td>
          <h4>Description:</h4>
        </td>
        <td>
          <%= @event.description %>
        </td>
      </tr>
      <tr>
        <td>
          <h4>When?</h4>
        </td>
        <td>
          <%= @event.date.strftime("%e %B %Y at %H:%M") %>
        </td>
      </tr>
      <tr>
        <td>
          <h4>Status:</h4>
        </td>
        <td>
          <% if !@event.date.past? %>
            <% if user_event_info.present? %>
              <span class="badge text-bg-success">Booked</span>
            <% else %>
              <span class="badge text-bg-primary">Available</span>
            <% end %>
          <% else %>
            <span class="badge text-bg-danger">Event expired!</span>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  <% if !user_event_info.present? && !@event.date.past? %>
    <%= link_to "Book!", attend_path(event_id: @event.id), class: "btn btn-primary" %>
  <% end %>
  <br>
  <table class="table table-striped mt-5">
    <thead>
      <tr>
        <th>#</th>
        <th>Atendee</th>
      </tr>
    </thead>
    <tbody>
      <% if @event.user_booking.present? %>
        <% counter = 1 %>
        <% @event.user_booking.each do |atendee| %>
          <tr>
            <td><%= counter %></td>
            <td><%= atendee.username %></td>
          </tr>
          <% counter += 1 %>
        <% end %>
      <% else %>
        <tr>
          <td colspan="2" class="text-center">There's no atendee</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
